@import "~bootstrap/dist/css/bootstrap.css";

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #b9cef4 1%, #d0d5f2 3%,  #eeeef4, #f6f6f6, rgba(0,0,0,0),  rgba(0,0,0,0) 50%,   rgba(0,0,0,0),  #f6f6f6, #f6f6f6, #eeeef4 97%, #d0d5f2 100%),
                linear-gradient(50deg, #b9cef4 2%, #dbdff3 4%,  #eeeef4, #f6f6f6, rgba(0,0,0,0),  rgba(0,0,0,0) 50%,   rgba(0,0,0,0),  #f6f6f6, #f6f6f6, #eeeef4 95%, #d0d5f2 97%),
                linear-gradient(90deg, #b9cef4 1%, #d0d5f2 2%,  #eeeef4, #f6f6f6, rgba(0,0,0,0),  rgba(0,0,0,0) 50%,   rgba(0,0,0,0),  #f6f6f6, #f6f6f6, #eeeef4 95%, #d0d5f2 100%),
                linear-gradient(180deg, rgba(0,0,0,0),  rgba(0,0,0,0) 50%,   rgba(0,0,0,0),  #f6f6f6, #f6f6f6 90%, #eeeef4 97%, #dce0f7 99%);
}

.btn-icon {
    padding: 1px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.heading {
    padding: 20px;
    background-color: white;
    height: 10vh;
}

.light-background {
    background-color: white;
    box-shadow: 0 1px 4px 2px #eff0f8;
}