.container {
    padding-top: 20px;
}

.card-btn {
    padding: 0px;
    width: 80px;
    height: 100px;
    border-radius: 5px;
    border: 0px;
    background-color: white;
}

.card-btn:hover {
    transform: translate(0, -10px);
}

.card-btn:focus , .selected{
    transform: translate(0, -10px);
    box-shadow: 0 0 4px 4px #adb6f3;
}

.cards-div {
    height: 30vh;
}

.description-div {
    height: 25vh;
}

.list {
    padding: 3px;
}

.list, button {
    border-color: white;
}

.padding {
    padding: 30px;
}

.padding-10 {
    padding: 10px;
}

.selected-item {
    background-color: #2f73f3;
    color: white;
}

.background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #b9cef4;
    height: 18vh;
}

.list-background {
    padding: 10px;
    height: 80vh;
}

.card-user-story-background {
    min-height: 30vh;
    height: fit-content;
}